.bg-picture{
    background-image: url('/login2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
   
}
.custom-style {
  border: 3px solid #3674B5;
  box-shadow: 0px 0px 15px #3674B5, 0px 0px 15px #3674B5 inset;
}
